<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Title
  body
    - var data = require("./data.json")
    ul
      each bayi in data.bayiler
        li= bayi.bayiAdi